@model Northwind.Entities.Product

@{
    ViewBag.Title = "CreateNew";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateNew</h2>

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title" style="margin-top:15px;">Edit Profile</h4>
        </div>
        <div class="content">
            <form action="/Admin/CreateNew" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Id (disabled)</label>
                            <input type="text" class="form-control" disabled placeholder="ProductID" id="ProductID">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" placeholder="Product Name" name="ProductName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Unit Price</label>
                            <input type="number" min="0.000" max="10000.00" step="0.5" class="form-control" placeholder="Unit Price" value="0" name="UnitPrice">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Category</label>
                            <select name="CategoryID" class="form-control">

                                @foreach (var item in ViewBag.Categories)
                                {
                                    <option value="@item.CategoryID" class="form-control">@item.CategoryName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">Save Product</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
