
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
           


<li>
    <div class="w3ls-subscribe w3ls-subscribe1">
        <div class="agileits-border agileits-border1">
            <h4 style="margin-top:40px;">New Customer?</h4>
            <form action="/Account/SignUp" method="post">
                <input type="text" name="ContactName" placeholder="ContactName" required="">
                <input type="text" name="Address" placeholder="Address" required="">
                <input type="text" name="Country" placeholder="Country" required="">
                <input type="text" name="City" placeholder="City" required="">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="password" name="Pass" placeholder="Password" required="">
                <input type="submit" value="SignUp" style="margin-top:10px;">
            </form>
            <div class="agile-signin" style="margin-top:50px;">
                <h4>Do You have an account <a href="/Account/LogIn">LogIn</a></h4>
            </div>
        </div>
    </div>
</li>