@model Northwind.Entities.Cart

<div class="collapse navbar-collapse" onclick="location.href='/Cart/Index';" style="cursor:pointer;">
    <ul class="nav navbar-nav navbar-left">

        <li class="dropdown">
            <a href="/Cart/Index" class="dropdown-toggle" data-toggle="dropdown">
                <p>  Total: @Model.Total.ToString("c") </p>
                @*<b class="caret hidden-sm hidden-xs"></b>*@
                <span class="notification hidden-sm hidden-xs">@Model.Lines.Sum(x => x.Quantity)</span>
                @*<p class="hidden-lg hidden-md">*@
                @*<b class="caret"></b>*@
                @*@Html.ActionLink("Checkout", "Index", "Cart")*@
                @*</p>*@
            </a>
        </li>
    </ul>
</div>
